name: Flutter Android Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.19.0"

      - name: Get dependencies
        run: flutter pub get

      - name: Build release APK
        run: flutter build apk --release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4   # ← 修复点！必须用 v4
        with:
          name: app-release
          path: build/app/outputs/flutter-apk/app-release.apk
